<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask JWT Login</title>
  <script defer src="/static/script.js"></script>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <h1>Welcome to Flask Notes</h1>

  <h2>Register</h2>
  <input type="text" id="reg_username" placeholder="Username">
  <input type="password" id="reg_password" placeholder="Password">
  <button onclick="register()">Register</button>

  <h2>Login</h2>
  <input type="text" id="login_username" placeholder="Username">
  <input type="password" id="login_password" placeholder="Password">
  <button onclick="login()">Login</button>

  <p id="message"></p>
</body>
</html>